<div class="header">
    <div class="container center">
        <p class="thank-you">THANK YOU FOR SIGNING UP</p>
    </div>
</div>

<div class="hero">
    <div class="container center">
        <p class="small dont-leave-friends">Don't leave your friends behind</p>
        <h1 class="refer-large">INVITE FRIENDS &<br>Earn Screenings</h1>
        <div class="subtitle-container">
            <p class="subtitle left">Share your unique link via email, Facebook<br>or Twitter and earn screening minutes for<br>each friend who signs up.</p>
        </div>        
        <input type="text" class="copy-link left" value="<%= root_url %>?ref=<%= @user.referral_code %>" onclick="this.select()">
        <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
        <% facebook_message = "Test Screener is launching" %>
        <div class="row social-links">
            <div class="six columns">
                <div id="facebook-link">
                    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(facebook_message) %>+<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" target="_blank"><img border="0" alt="Facebook" src="assets/refer/facebook.png" width="60" height="60"></a>
                </div>
            </div>
            <div class="six columns">
                <div id="twitter-link">
                    <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank"><img border="0" alt="Twitter" src="assets/refer/twitter.png" width="60" height="60"></a>
                </div>
            </div>
        </div>

    </div>
</div>

<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Here's How It Works:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">Test Screener Minutes</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>

    </div>
</div>