<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>Test Screener &ndash; Tell Friends, Get Free Reviews for your Film or Video</title>

        <meta property="og:title" content="Test Screener is coming. Viewers get paid!"/>
        <meta property="og:description" content="Online audience feedback screenings for film, tv, and video."/>
        <meta property="og:url" content="<%= root_url %>"/>
        <meta property="og:image" content="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/11080408_687189174736419_7743095391405827581_o.png"/>
        <% if @is_mobile %>
            <% if @bodyId == 'home' %>
                <meta name="viewport" content="width=1600" />
            <% else %>
                <meta name="viewport" content="width=1120" />
            <% end %>
        <% end %>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= csrf_meta_tags %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body id="<%= @bodyId %>">
    <%= render "alerts" %>
<%= yield %>


</body>
</html>
